 * {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0%;
 }

 body {
    min-height: 100vh;
    background-image: linear-gradient(#fdc6ff3d, #f700ff3d);
 }

 #nav-bar {
    background-color: #ffffffbe;
    padding: 30px;

 }

 .navbar-content {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .navbar-content span {
    color: rgb(183, 0, 255);
 }

 #navbutton {
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    background: linear-gradient(to right, #8a2be2, #4b0082);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 10px 25px 2px rgba(45, 45, 253, 0.281);
    transition: transform .2s;
 }

 #navbutton:hover {
    transform: scale(1.5);
    background: linear-gradient(to right, #4b0082, #8a2be2);
 }

 #banner {
    background-color: #ffffff88;
    margin: 100px;
    padding: 120px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

 }

 #banner-content h2 img {
    margin: 20px;

 }

 #banner-content h2 {
    margin: 20px;
    font-size: 44px;

 }

 #banner-content p {
    margin: 20px 200px 20px 200px;
    font-size: 20px;
    text-align: center;
 }

 #banner-content a {
    margin: 20px;
 }

 #why-you-want {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 }

 #why-you-want h1 {
    margin: 20px
 }

 #why-you-want p {
    margin: 20px 300px 20px 300px;
    font-size: 20px;
    text-align: center;
 }

 #work-card {
    background-color: #ffffff88;
    margin: 100px;
    padding: 120px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
 }

 #developer {

    width: 50%;
    text-align: right;
    padding-left: 20px;
 }

 #developer img {

    max-width: 100%;
    height: auto;
 }

 #the-resone {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

 }

 #the-resone h1 {
    font-size: 44px;
    margin-bottom: 30px;
 }

 #the-resone p {
    font-size: 20px;
    margin-bottom: 30px;
 }

 #challenge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 }

 #challenge h1 {
    font-size: 44;
    margin-bottom: 20px;
 }

 #challenge p {
    font-size: 20px;
    text-align: center;
    margin: 20px 300px 20px 300px;
 }

 #challenge-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 30px auto;
    width: 1080px;
    height: 620px;
    outline: 1.5px solid #ffffff;
    border-radius: 20px;

 }

 #challenge-video iframe {
    width: 980px;
    height: 520px;
    border-radius: 20px;

 }

 #challenge-video iframe:hover {
    box-shadow: 0px 20px 35px 4px rgba(45, 45, 253, 0.281);

 }

 #Target {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto 0px auto;
 }

 #Target h1 {
    font-size: 44px;
    margin-bottom: 30px;
 }

 #Target p {
    font-size: 20px;
    margin-bottom: 30px;
    margin: 20px 300px 20px 300px;
    text-align: center;
 }

 #Target-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 80px;
    justify-content: space-between;

 }

 #HTML {
    width: 336px;
    height: 244px;
    background-color: #ffffff88;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 10px 25px 2px rgba(45, 45, 253, 0.281);
    padding-left: 40px;
    margin-top: 20px;

 }

 #HTML h1,
 p,
 a {
    margin-bottom: 20px;

 }

 #CSS {
    width: 336px;
    height: 244px;
    background-color: #ffffff88;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 10px 25px 2px rgba(45, 45, 253, 0.281);
    padding-left: 40px;
    margin-top: 20px;
 }

 #CSS h1,
 p,
 a {
    margin-bottom: 20px;

 }

 #Tailwind {
    width: 336px;
    height: 244px;
    background-color: #ffffff88;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 10px 25px 2px rgba(45, 45, 253, 0.281);
    padding-left: 40px;
    margin-top: 20px;
 }

 #Tailwind h1,
 p,
 a {
    margin-bottom: 20px;

 }

 .Learn-More {
    text-decoration-line: underline;
    margin-left: 0px;
 }

 #web-footer {
    background-color: #ffffffbe;
    padding: 30px;
 }

 #footer {

    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
 }

 #img-icons {

    display: flex;
    justify-content: end;
    margin-top: 20px;
    gap: 30px;
 }
